name: Deploy

on:
  push:
    tags: ["*"]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  deploy:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Generate docs
        run: |
          cargo doc --no-deps
          echo "<meta http-equiv=refresh content=0;url=coremidi/index.html>" > target/doc/index.html

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: target/doc

      - name: Publish to crates.io
        run: cargo publish --token ${{ secrets.CARGO_TOKEN }}
