name: CI

on:
  push:
    branches: [master]
    tags-ignore: ["*"]
  pull_request: {}

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    name: Format
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - run: cargo clippy --all-targets -- -D warnings

  test:
    name: Test
    runs-on: macos-latest
    strategy:
      matrix:
        toolchain: [stable]
        include:
          - toolchain: "1.75"
            name_suffix: " MSRV"
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Run tests
        run: cargo test
